h3 {
  padding: 0;
  margin: 0;
}
.space {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40vw;
  margin: 5px;
}
h1 {
  padding-left: 40vw;
}
.todo-list {
  margin-left: 30vw;
}
